@charset "utf-8";
body {
    margin:0;
    padding:0;
    width:100%;
    color:#9a9a9a;

}
html, .main {
    padding:0;
    margin:0;
    background:#fff;
}
.clr {
    clear:both;
    padding:0;
    margin:0;
    width:100%;
    font-size:0;
    line-height:0;
}
.logo h1{
    margin-top: 0;
    font-size: 65px;
}
.logo img {
    float:left;
    margin:0 10px 0 0;
}

.Username{}


/* Set a style for all buttons */
.button {
    background-color: #40b5ff;
    color: white;

    border: none;
    cursor: pointer;

}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}



/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 3px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {

    }
}

.login{float: left;}

h1 {
    color:#40b5ff;
    letter-spacing:-2px;
}
h1 a, h1 a:hover {
    color:#40b5ff;
    text-decoration:none;
}
h1 span {
    color: #A7A7A7;
    font-size: 14px;
    padding: 10px 15px;
    letter-spacing: 1px;
}
h1 small {
    text-align:left;
    width:130px;
    border-left:1px solid #e1e0e0;
    color:#bab9b9;
    display:block;
    padding:14px 0 16px 10px;
    font:normal 12px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing:normal;
    margin-left: 70px;
    top: -46px;
    position: relative;
}
h2 {
    font:normal 24px Arial, Helvetica, sans-serif;
    padding:5px 0;
    margin:8px 0;
    color:#595959;
}
h2.star {
    background:#767676 url(images/sidebar_bg_h2.gif) 10px 10px no-repeat;
    padding:7px 0 5px 30px;
    color:#fff;
    margin-bottom: 0;
}

p.spec {
    text-align:right;
}

a:hover {
    text-decoration:underline;
}
a.rm, a.com {
    margin-left:8px;
    padding:9px 12px;
    background:repeat-x top;
    text-decoration:none;
    color:#fff;
}

.header {
    padding: 15px 0 0 0;
}
.header_resize {
    margin:0 auto;
    padding:0;
    width:970px;
}

.header_img {
    border:1px solid #e1e0e0;
    padding:5px;
    background:#fff;
}
.menu_nav {
    margin:0;
    padding:10px 0;
    float:left;
    border-top:1px solid #e1e0e0;
    width:939px;
}
.menu_nav ul {
    list-style:none;
    width:600px;
    float:left;
}
.menu_nav ul li {
    margin:0;
    padding:0 2px 0 0;
    float:left;
    background:no-repeat right center;
}
.menu_nav ul li a {
    border-right:1px solid #e1e0e0;
    display:block;
    margin:0;
    padding:2px 20px;
    color:#848383;
    text-decoration:none;
    font:normal 13px Arial, Helvetica, sans-serif;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
    color:#424242;
}
.menu_nav ul li.last a {
    border:0;
}
.search form {
    float:right;
    padding:0;
    margin:0;
}
.search span {
    display:block;
    float:left;
    background:#fff;
    width:201px;
    padding:0;
    height:23px;
    border:1px solid #e9e9e9;
}
.search form .keywords {
    width:167px;
    line-height:13px;
    height:13px;
    float:left;
    background:none;
    border:0;
    padding:5px;
    margin:0;
    font:normal 11px Arial, Helvetica, sans-serif;
    color:#bab9b9;
}
.search form .button {
    float:left;
    margin:0;
    padding:0;
    border:0;
    position:relative;
}

.content_resize {
    margin:0 auto;
    padding:0 20px;
    width:930px;
    background:#fff;
    border:1px solid #e1e0e0;
}
/*.content .mainbar {
        margin:0;
        padding:0;
        float:left;
        width:620px;
        background:repeat-x bottom;
}*/
.mainbar{
    text-align: justify;
    padding-left: 0;
}
.content .mainbar img {
    float:left;
    padding:4px;
    margin:0 10px 0 0;
    border:1px solid #eaecec;
    background-color:#fff;
}
.content .mainbar .article {
    margin:0;
    padding:0px 0 0 0;
}
.article span.butons a {
    margin:0 5px 0 0;
    float:right;
    color:#9a9a9a;
    padding:1px 10px;
    text-decoration:none;
    border:1px solid #ebe8e8;
    background:#fbfbfc;
}
.content .mainbar .article span.butons a:hover {
    border:1px solid #d9f0ff;
    background:#40b5ff;
    color:#fff;
    text-decoration:none;
}
.content .mainbar .article span.butons a.active {
    border:1px solid #ebe8e8;
    background:#40b5ff;
    color:#fff;
    text-decoration:none;
}
/*.content .sidebar {
        margin:20px 0 0 0;
        padding:0;
        float:right;
        width:280px;
}*/
.sidebar{
    padding-right: 0;
}

ul.sb_menu, ul.ex_menu {
    margin:0;
    padding:0;
    list-style:none;
    color:#959595;
    border: 1px solid #40b5ff;
    border-top: none;
}
ul.sb_menu li, ul.ex_menu li {
    margin:0;
    border-bottom: 1px dotted #40b5ff;
}
ul.sb_menu li {
    padding:10px 0 4px 15px;
}
ul.ex_menu li {
    padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
    color:#959595;
    text-decoration:none;
    margin-left:-12px;
    padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
    color:#2cadff;
    text-decoration:underline;
}
ul.sb_menu li a:hover {
    text-decoration:underline;
}
ul.ex_menu li a:hover {
    text-decoration:none;
}
.content .mainbar .comment {
    margin:0;
    padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
    border:1px solid #dedede;
    margin:10px 16px 0 0;
    padding:0;
    float:left;
}
.fbg {
    padding:10px 0 0 0;
}
.fbg_resize {
    margin:0 auto;
    padding:0 20px;
    width:930px;
    background:#fff;
    border:1px solid #e1e0e0;
}
.fbg h2 {
    color:#595959;
}
.fbg img {
    padding:4px;
    border:1px solid #cfd2d4;
    background-color:#fff;
}
.fbg .col {
    margin:0;
    float:left;
}
.fbg .c1 {
    padding:0 16px 0 0;
    width:266px;
}
.fbg .c2 {
    padding:0 16px;
    width:300px;
}
.fbg .c3 {
    padding:0 0 0 16px;
    width:260px;
}
.fbg .c1 img {
    margin:8px;
}
.fbg .c3 img {
    margin:8px 16px 4px 0;
    float:left;
}
ol {
    list-style:none;
}
ol li {
    display:block;
    clear:both;
}
ol li label {
    display:block;
    margin:0;
    padding:16px 0 0 0;
}
ol li input.text {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:5px 2px;
    height:16px;
    background:#fff;
}
ol li textarea {
    width:480px;
    border:1px solid #c0c0c0;
    margin:2px 0;
    padding:2px;
    background:#fff;
}
ol li .send {
    margin:16px 0 0 0;
}

.navbar {
    position: relative;

    border: none !important;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    text-align:center;
    padding-right: 0px;
    padding-left: 0px;


}
.navbar-default {
    margin-bottom: 0;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav > li > a {

    font-size: 1.3em;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #40b5ff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #40b5ff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #40b5ff;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: left;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5em;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    /* border: 1px solid rgba(0, 0, 0, .15); */
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #40b5ff;
}
.tab-content > .tab-pane{
    margin-left: 15px;
}
.dropdown{
    height: 32px;
    width: 100%;
}
.banner{max-height: 300px; min-width: 100%;}
.banner_all{background-color: #40b5ff; padding: 50px 15px;height: 300px;}

.nav-tabs > li{background-color: #ffffff;}
.tab-content{border: 1px solid #ffffff;}
.tab-content p{color: #ffffff; padding: 10px 0;}
.navbar-default{margin-bottom: 10px; margin-top: 10px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color: #40b5ff; background-color: #e7e7e7; border: none;}
.nav-tabs > li > a {border: none; border-radius: 0;margin-right: 0;}
.nav-tabs{border: none;}
.btn-go{background:#fff;color: #40b5ff;}
.button{ border-radius: 0px;}
.login{padding: 30px 15px 0 0;}
.left-banner{padding-right: 0;}
.right-banner{padding-left: 10px;}

.list{background-color: #f8f8f8; padding: 5px 5px;}
.list a{ text-align: justify;color:  #959595;}
.list a:hover{color: #2cadff;}
.grid-left{padding-left: 0; padding-top: 10px;}
.grid-right{padding-right: 0; padding-left: 0; padding-top: 10px;}
.fa-arrow-right{color: #40b5ff; padding: 5px 10px 5px 5px;}
.article span{background-color: #40b5ff; padding: 5px 10px; color: #ffffff;}
.article h2{border-bottom: 1px solid #40b5ff;}

.mainbar{padding-top: 18px;}
.sidebar{padding-top: 18px;}

.left-section h2{border-bottom: 1px solid #40b5ff;}
.left-section span{font-weight: bold;background-color: #40b5ff; padding: 5px 5px; color: #ffffff;}
.left-section{padding: 15px 15px 0 15px;}
.left-section p{padding: 0px 15px 0 15px;}
.fa-angle-right{font-size: 18px !important; color: #40b5ff;	}

.heading h1{text-align: center; margin-bottom: 0;}
.heading h2{font-size: 18px;text-align: center; margin-top: 0;}
.guidelines h2{font-weight: bold;}
.guidelines h3{font-size: 20px; color: #ff0900b3;}
.guidelines p{text-align: justify;}
.fa-circle{font-size: 10px !important;}

.social-top-bar img{    padding: 5px 0 5px 0;}
.social-agile{
    margin:0 auto;
    padding:0px;
    padding-top:4px;
    vertical-align:middle;
    float:left;
    margin-top: 3px;
}
ul.social-agile li {
    display: inline-block;
    margin-right:6px;
}
ul.social-agile li a {
    display: inline-block;
    text-decoration: none;
    border-radius:50%;
    font-size:20px;
    color:#fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    vertical-align: middle;
    text-align: center;
}
ul.social-agile li a:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
ul.social-agile li a.facebook {
    background: #3b5998;
    padding: 7px 14px;
}
ul.social-agile li a.twitter {
    background:#55acee;
    padding: 7px 10px;
}
ul.social-agile li a.googleplus {
    background:#e75f42;
    padding: 7px 7px;
}
ul.social-agile li a.instagram {
    background: #007bb5;
    padding: 7px 9px;
}

.footer{padding-top: 20px; background-color: #f8f8f8;}
.footer-links a{padding: 15px 40px;}
.footer p{text-align: center; font-size: 20px; padding-top: 20px; font-weight: bold;}
.footer a{text-decoration: none;}


.form-horizontal .control-label{text-align: left;}
.article .form-horizontal{}

.copyright h1{text-align: center; font-weight: bold; margin-top: 0;}
.copyright h2{text-align: center; font-weight: bold;}
.copyright p, li{color: #000000; margin-bottom: 2px;text-align: justify;line-height: 1.1}
.copyright {margin-top: 15px;}
.copyright-form .control-label{color: #000000 !important;}
.address{ font-weight: bold; padding: 15px 0; }
.right-side-grid{background-color: #f8f8f8;}
.left-side-grid{padding-top: 15px;}
/*.copyright{padding: 45px;}*/
.btn-default{background-color: #40b5ff;}
.btn-default{background-color: #40b5ff;}
.left-grid{border: 1px solid #40b5ff;margin: auto; padding: 15px 15px;}
.left-grid .name{color: #40b5ff;padding: 0;}
.user-name{margin: auto; padding: 30px 15px;}
.left-grid img{width: 100px;padding-bottom: 10px;}
.personal-info{margin-bottom: 0; font-weight: bold;}
.journal-info{margin-bottom: 0;font-weight: bold;}
.journal{padding-top: 10px;font-weight: bold;color: #000000;}
.left-grid span{float: right; background-color: #ffffff; color: #9a9a9a; padding: 0;}
.article p{word-wrap: break-word;}
.modal-dialog{width: 1000px !important;}