.form-group p.error{color:red;}
.form-group p.error_p{color:red;}
body,html{-webkit-font-smoothing:subpixel-antialiased;-webkit-text-stroke:1px transparent;font-family:'Roboto Condensed';}
.orggen {font-size: 16px;}

#invoice_form .panel{margin-bottom:5px;}
#invoice_form .panel-default>.panel-heading{font-weight: 700;
    color: #3c8dbc;
    letter-spacing: 1px;
    font-size: 16px;}
#invoice_form .panel-body{    padding: 1px 15px;}
#invoice_form .panel-heading{    padding: 3px 15px;}
#invoice_form .form-control{height:28px; }
#invoice_form .form-group{padding:0;    margin-bottom: 5px;
    margin-top: 5px; }
#invoice_form hr{margin-top: 5px;
                 margin-bottom: 5px;}
.invoice-wrapper{    height: 530px;
    overflow: auto;}
    .pagination-custom{    display: inline-block;
                       padding-left: 0;

                       border-radius: 4px;    float: right;}
.pagination-custom .current-page{    z-index: 3;
                                     position: relative;
                                     color: #fff;
                                     float: left;
                                     cursor: default;
                                     background-color: #337ab7;
                                     border-color: #337ab7;
                                     padding: 6px 12px;
                                     margin-left: -1px;
                                     line-height: 1.42857143;

                                     text-decoration: none;

                                     border: 1px solid #ddd;}
.pagination-custom a{    position: relative;
                         float: left;
                         padding: 6px 12px;
                         margin-left: -1px;
                         line-height: 1.42857143;
                         color: #337ab7;
                         text-decoration: none;
                         background-color: #fff;
                         border: 1px solid #ddd;}


#area_check label {
  display : block;
}
#area_check ul {
  margin: 0;
  list-style: none;
  float: left;
}